{{> header}}
<div class="container">
    <div class="row mt-3 justify-content-center">
        <div class="col-6">
            <form action="/blog/create" method="POST">
                <div class="form-group">
                    <label for="exampleFormControlInput1">Blog Title</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="blogTitle">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Blog Content</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                        name="blogContent"></textarea>
                </div>
                <button type="submit" class="btn btn-dark">Create</button>
            </form>
        </div>
    </div>
</div>